/* --->!!Element Selectors!!<---*/

*{
 
}

header{
    height: 67%;
    width: 100%;
    display: grid;
    background-image: url(img/office1.jpeg);
    background-size: 110% 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Gupter', serif;
}
h1{
    font-size: 3vw;
}
h2{
    font-size: 3vw;
    font-family: 'Merriweather', serif;
    color: #01161e;
}

aside{

}

footer{
    text-align: center;
    background-color: #01161e;
    color: white;
    margin-bottom: -20px;
    border-top: #dce0e5 2px solid;
}

/* --->!!Class Selectors!!<---*/

    /*!!Wrappers!!*/

.nav-container{
    

}

.main-body{
    background-color: #efefef;
    font-family: 'Sulpher Point', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    width: 90%;

}

.about-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 100%;
}

.team{
    margin-top: 2%;
    background-color: #01161e;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 70%;
    justify-items: center;
    height: 250px;
    border-radius: 10px;
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
    justify-items: center;
    height: 200px;
}


    /*!!Children!!*/

.nav{
    display: grid;
    text-align: center;
    color: #efefef;
    background-color: #01161e;
    border-bottom:  #dce0e5 3px solid;
    box-shadow: 0px 3px 5px black;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 70%;
    width: 100%;
    grid-template-columns: 20% 35% 45%;
}

.nav-part-1{
    height: inherit;
    width: 90%;
    
    
}

.nav-part-2{
    height: inherit;
    width: 93%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav-part-2 h1{
    height: 40%;
    width: 100%;
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 8%;
    grid-row-start: 1;
    grid-row-end: 2; 
    
    
}
.nav-part-2 p{
    height: 50%;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -4%;
    width: 80%;
    margin-left: 10%;
    font-size: 1.25vw;
    color: grey;
}

.nav-part-3{
    height: 50%;
    width: 100%;
    margin-top: 1%;
    margin-left: -5%;
}

.nav-part-3 ul li{
    font-size: 1.25vw;
    margin-left: 0%;
    height: 50%;
    margin-top: 0%;
}

.nav-part-3-ext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    margin-left: 0%;
    height: 50%;
    margin-top: 0%;
}

.nav-part-3 div{
    display: grid;
    margin-left: 0%;
    width: 100%;
    height: 50%;
    margin-top: 0%;
}

.nav-part-3 div li{
    column-span: 2;
    margin: 10%;
    margin-left: 0%;
    height: 50%;
    margin-top: 30%;

}

.nav-part-3 div li a{
    width: 10%;
    margin-left: 0%;
    height: 50%;
    margin-top: 6%;
}

.nav-back{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.nav-logo{
    margin-left: 18.5%;
    margin-top: 6.5%;
}

.nav-logo-back{
    width: 50%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
    margin-left: 25%;
    margin-top: 3%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.nav a:link {
    color: white;

}

.nav a:visited {
    text-decoration: none;
    color: #dce0e5;
    
}

.nav a:hover{
    text-decoration: none;
    color: grey;
    font-size: 2vw;
    
}

.nav-container a:active{
    text-decoration: none;
    color: orange;
    
}

.nav-container a:focus{
    background-color: black;
    color: white;
}

.nav-container ul{ 
    list-style-type: none;
}

.nav-list{
    display: inline-block;
}


/*_____________________________________*/

.bottom-borders{
    border-bottom: 1px solid grey;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}

/*_____________________________________*/

.about-text{
    text-indent: 40px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

/*_____________________________________*/

.practice-wrapper{
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
}

.practice-item{

}

.practice-emblems{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    position: relative;
    justify-self: center;
    width: 66.75%;
    text-align: center;
}

.practice-list{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    display: inline-grid;
    position: relative;
    width: 40%;
    font-size: 20px;
    text-align: center
}

.practice-list ul li{
    display: inline-block;
}

.practice-list-2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: center;
    width: 40%;
    margin-left: 0%;
    font-size: 20px;
}

.practice-list-2 ul {
    margin-left: 0; 
     
}

.practice-list-2 ul li{
    display: inline-block;  

}

.practice-text li{
    display: inline-block;
    list-style-type: none;
}

.practice-areas{
    grid-column-start: 1;
    grid-column-end: 6;
}

.practice-more{
    grid-column-start: 1;
    grid-column-end: 6;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

/*_____________________________________*/


.team-image{
    display: inline-block;
    border-radius: 80px;
}

.team-text{
    margin-top: -20px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.team-names{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    text-align: center;
}

/*_____________________________________*/

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
    justify-items: center;
    height: 200px;
}

.contact-head{
    grid-column-start: 1;
    grid-column-end: 4;
}

.contact-elements{
    grid-row-start: 2;
}

.contact-consultation{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 12%;
    margin-bottom: 5%;
    border-bottom: #124559 2px solid;
    border-top: #124559 2px solid;
    margin-top: 7%;
}

/*_____________________________________*/

.testimonials{
    padding-bottom: 2%;
}

.testimonials q{
    margin: 5%;
    padding-top: 2%;
}

