
h1{
    font-size: 3vw;
}

h2{
    font-size: 3vw;
    font-family: 'Bitter', serif;
    color: #01161e;
}

p{
    line-height: 130%;
    font-family: 'Bitter', serif;
}

/* Head*/

header{
    width: 100%;
    display: grid;
    background-image: url(img/bwoffice.jpg);
    background-size: 100% 130%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Scope One', serif;
    height: 130%;
}
    /* TOP NAV */

.nav-wrap{
    height: 30vw;
}

.nav{
    display: grid;
    text-align: center;
    color: #efefef;
    background-image: linear-gradient(to bottom, #001842, #001d51);
    border-bottom:  #dce0e5 3px solid;
    box-shadow: 0px 3px 5px black;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 30%;
    width: 100%;
    grid-template-columns: 20% 35% 45%;
}


.nav-part-1{
    height: inherit;
    width: 90%;
    margin-top: 5%;
}

.nav-part-2{
    height: inherit;
    width: 93%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav-part-2 h1{
    height: 40%;
    width: 100%;
    margin-top: 1%;
    margin-left: 0%;
    padding-top: 8%;
    grid-row-start: 1;
    grid-row-end: 2; 
}

.nav-part-2 p{
    height: 50%;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -4%;
    width: 80%;
    margin-left: 10%;
    font-size: 1.25vw;
    color: rgba(170, 170, 170, 0.5);
}

.nav-part-3{
    height: 50%;
    width: 100%;
    margin-top: 0%;
    margin-left: -5%;
}

.nav-part-3 ul li{
    font-size: 1.25vw;
    margin-left: 0%;
    height: 50%;
    margin-top: 0%;
}

.nav-part-3-ext{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    margin-left: 0%;
    height: 50%;
    margin-top: 0%;
}

.nav-part-3 div{
    display: grid;
    margin-left: 0%;
    width: 100%;
    height: 50%;
    margin-top: 0%;
}

.nav-part-3 div li{
    column-span: 2;
    margin: 10%;
    margin-left: 0%;
    height: 50%;
    margin-top: 30%;
}

.nav-part-3 div li a{
    width: 10%;
    margin-left: 0%;
    height: 50%;
    margin-top: 6%;
    text-decoration: none;
}

.nav a:link {
    color: white;

}

.nav a:visited {
    text-decoration: none;
    color: #dce0e5;
    
}

.nav li:hover{
    background: white;
    border-radius: 5px;
    transition: 1.0s;
    color: black;
}
.nav li a:hover{
    color: black;
}

.nav a:hover{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    
}

.nav-container a:active{
    text-decoration: none;
    color: orange;
    
}

.nav-container a:focus{
    background-color: black;
    color: white;
}

.nav-container ul{ 
    list-style-type: none;
}

.nav-list{
    display: inline-block;
}

    /* NAV BOTTOM*/

.nav-back{
    width: 100%;
    height: 99%;
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

}

.nav-logo{
    margin-left: 18.5%;
    margin-top: 6.5%;
}

.nav-logo-back{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-left: 10%;
    justify-self: center;
    align-self: center;
}

/* BODY SPECIFIC*/

.main-body{
    background-color: #efefef;
    font-family: 'Sulpher Point', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    width: 90%;
    font-size: 1.25vw;
    margin-top: 3%;
}

.bottom-borders{
    border-bottom: 1px solid grey;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}


/* ABOUT */

.about-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 100%;
    font-size: 1.25vw;
}

.about-text{
    height: 100%;
    text-indent: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -2%;
    width: 90%;
}

/* PRACTICE*/

.practice-wrapper{
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20%;
}

.practice-item{

}

.practice-emblems{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    position: relative;
    justify-self: center;
    width: 66.75%;
    text-align: center;
}

.practice-list{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    justify-self: center;
    display: inline-grid;
    position: relative;
    width: 50%;
    font-size: 1.5vw;
    text-align: center;
}

.practice-list ul li{
    display: inline-block;
}

.practice-list-2{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
    justify-self: center;
    text-align: center;
    width: 50%;
    margin-left: 0%;
    font-size: 1.2vw;
}

.practice-list-2 ul {
    margin-left: 0;
     
}

.practice-list-2 ul li{
    display: inline-block;

}

.practice-text li{
    display: inline-block;
    list-style-type: none;
}

.practice-areas{
    grid-column-start: 1;
    grid-column-end: 6;
}

.practice-more{
    grid-column-start: 1;
    grid-column-end: 6;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.practice-emblems img{
    width: 6vw;
    height: 6vw;
    border-radius: 150px;
}

/*TEAM*/

.team{

}

.team-top-1{
    margin-top: 2%;
    background-image: linear-gradient(to bottom right, #001842,midnightblue);
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30% 70%;
    justify-items: center;
    height: 18vw;
    border-radius: 10px;
}

.team-image{
    display: inline-block;
    border-radius: 80px;
}

.team-text-1{
    margin-top: -1.5%;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

.team-names-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    text-align: center;
    font-size: 2vw;
}

.team-abouts{
    text-align: left;
    margin: 3%;
    text-indent: 5%;
    font-size: 1.25vw;
}

.team-top-2{
    background-image: linear-gradient(to bottom right, #001842, midnightblue);
    height: 15vw;
    width: 100%;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1;
    justify-content: center;
}

.team-names-2{
    text-align: center;
    font-size: 2vw;
}

/* CONTACT */

.contact-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
    justify-items: center;
    height: 20vw;
}

.contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin-left: 5%;
    justify-items: center;
    height: 200px;
}

.contact-head{
    grid-column-start: 1;
    grid-column-end: 4;
}

.contact-elements{
    grid-row-start: 2;
    margin-top: 0%;
    padding-top: 0%;
}

.contact-elements a:link{
    color: darkslategray;
}

.contact-elements a:hover{
    color: darkblue;
}

.contact-elements a:active{
    color: #124559;
}

.contact-consultation{
    grid-column-start: 2;
    grid-column-end: 2;
    margin-left: 12%;
    margin-bottom: 5%;
    border-bottom: #001842 2px solid;
    border-top: #124559 2px solid;
    margin-top: 7%;
    text-align: center;
}

/*TESTIMONIALS*/

.testimonials{
    padding-bottom: 2%;
}

.testimonials q{
    margin: 5%;
    padding-top: 2%;
}

/* FOOTER */
.footer-facebook{
    margin-left: -3%;
}

.footer-container ul{
    margin-left: 0%;
}

.footer-container ul li{
    list-style: none;
}

.footer-container a:visited{
    color: #efefef;
}

.footer-container a:link{
    color: #efefef;
}

.footer-container a:hover{
    color: grey;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: -4%;
    border-top: #dce0e5 2px solid;
}

/* MEDIA QUERIES*/

@media(max-width: 600px) {

    h1{
        font-size: 4vw;
    }

    p{
        font-size: 2.8vw;
    }

    h2{
        font-size: 4vw;
        font-family: 'Merriweather', serif;
        color: #01161e;
    }

    header{
        background-size: 110% 140%;
        height: 300px;
    }

    .nav{
        display: grid;
        text-align: center;
        color: #efefef;
        background-color: #01161e;
        border-bottom:  #dce0e5 3px solid;
        box-shadow: 0px 3px 5px black;
        grid-column-start: 1;
        grid-column-end: 4;
        height: 40%;
        width: 100%;
        grid-template-columns: 30% 70%;
    }

    .nav-part-1{
        width: 110%;
        display: none;
    }

    .nav-part-2{
        width: 100%;
    }

    .nav-part-2 h1{
        height: 40%;
        width: 100%;
        margin-top: 10%;
        margin-left: 0%;
        padding-top: 8%;
        grid-row-start: 1;
        grid-row-end: 2; 
    }

    .nav-part-2 p{
        font-size: 2vw;
    }

    .nav-part-3{
        height: 50%;
        width: 100%;
        margin-top: 3.5%;
    }
    
    .nav-part-3 ul li{
        font-size: 2.5vw;
    }
    
    .nav-part-3-ext{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        list-style: none;
    }
    
    .nav-part-3 div{
        display: grid;
        width: 100%;
    }

    .main-body{
        margin-top: 12%;
    }

    .practice-list{
        margin-left: -5%;
        font-size: 2.4vw;
        text-align: center;
        width: 70%;
    }

    .practice-list-2{
        font-size: 2.1vw;
        margin-left: -5%;
        width: 70%;
    }

    .practice-emblems img{
        width: 9vw;
        height: 9vw;
        border-radius: 150px;
    } 
    .contact-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 90%;
        margin-left: 5%;
        justify-items: center;
        height: 50vw;
    }

    .contact-wrapper br{
        display: none;
    }

    .contact{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        width: 90%;
        margin-left: 0%;
        justify-items: center;
        
    }
    
    .contact-head{
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .email{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .phone{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
        justify-self: left;
    }

    .address{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        font-size: 2.2vw;
    }

    
    .contact-elements{
        text-align: left;
    }
    
    .contact-elements a:link{
        color: darkslategray;
    }
    
    .contact-elements a:hover{
        color: darkblue;
    }
    
    .contact-elements a:active{
        color: #124559;
    }
    
    .contact-consultation{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        border-bottom: #001842 2px solid;
        border-top: #124559 2px solid;
        margin-top: 7%;
        text-align: center;
        font-size: 2vw;
    }
    
    .footer-container ul li{
        list-style: none;
    }
    
    .footer-container a:visited{
        color: #efefef;
    }
    
    .footer-container a:link{
        color: #efefef;
    }
    
    .footer-container a:hover{
        color: grey;
    }
    
    footer{
        text-align: center;
        background-color: black;
        color: white;
        margin-bottom: -4%;
        border-top: #dce0e5 2px solid;
    }
}
